name: Release

on:
  release:
    types:
      - created

jobs:
  publish:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    environment: production
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
      - name: Set up python
        id: setup-python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install Poetry
        uses: snok/install-poetry@v1.3.4
        with:
          virtualenvs-in-project: true
      - name: Mint token
        id: mint
        uses: tschm/token-mint-action@v1.0.3
      - name: Publish to PyPi
        env:
          PYPI_TOKEN: ${{ steps.mint.outputs.api-token }}
        run: |
          poetry config pypi-token.pypi $PYPI_TOKEN
          poetry publish --build
